* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}


.canvas{
    margin: auto;
    max-width: 500px;
    height: 600px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-title{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    max-width: 800px;
}

.ui-input-group{}

.ui-label{}

.ui-input{}

.ui-btn-primary{}

.ui-btn-secondary{}

.ui-avatar{}

.fa-solid{}

.fa-circle-user{}